body {
   
    text-align: center;
    font-family: Tahoma;
    color:#39392A;
    font-size: 12px;
    background: #EEEEEE;
}


#Lang {
    position: absolute;
    right:10px;
    text-align: right;
}

#body {
    width:840px;
    margin:auto;
    z-index: 1000;
    text-align: left;
    margin-top:50px;

}
#booknow {
    display:block;
    width:131px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-family: arial;
    font-size:17px;
    color:#fff;
    text-decoration: none;
    background: url(/media/1/global/images/booknow.png);
    margin:auto;
}
.mmactive {
    background: #B2DB3E;
        color:#fff;
}
#menu {
    width:120px;
    margin-left:35px;
}
#menu a:hover {
  background: #B2DB3E;
  color:#fff;
}
#content {
    background: url(/media/1/global/images/body.png);
}
.two {
    width:300px;
    float:left;
}
.clear {
    clear:both;
}
.d a {
    background: url(/media/1/global/images/ico.png) no-repeat;
    text-indent: 20px;
    display:block;
    width: 200px;
    line-height: 22px;
    border-bottom: 1px dashed #B2DB3E;
    color:#666;
    text-decoration: none;
    text-align: left;
}
.gbox {
    padding-left: 10px;
}
.desc {
    background: url(/media/1/global/images/hrd.png);
    line-height: 31px;
    font-color:#fff;
    text-indent: 20px;
    
    font-size:18px;
}

.events img {
float: left;
margin-right: 15px;
}

.events h3 {
font-size: 19px;
font-weight: 200;
margin: 0px;
padding: 0px;
}

.events .f {
float: left;
}
.events .z2 {
font-size: 15px;
line-height: 18px;
}
.events .v {
float: left;
font-size: 39px;
}
.events {
    height:120px;
}
.events .z {
float: left;
font-size: 15px;
line-height: 18px;
margin-left: 4px;
margin-top: 5px;
width: 60px;
}

.eventsz img {
float: left;
margin-right: 15px;
}

.eventsz h3 {
font-size: 19px;
font-weight: 200;
margin: 0px;
padding: 0px;
}

.eventsz .f {
float: left;
}
.eventsz .z2 {
font-size: 15px;
line-height: 18px;
}
.eventsz .v {
float: left;
font-size: 39px;
}
.eventsz {
    height:163px;
}
.eventsz .z {
float: left;
font-size: 15px;
line-height: 18px;
margin-left: 4px;
margin-top: 5px;
width: 60px;
}
.clr {
    clear:both;
}
#menu a {
    text-indent: 5px;
    display:block;
    width: 100%;
    line-height: 22px;
    border-bottom: 1px dashed #B2DB3E;
    color:#666;
    text-decoration: none;
    text-align: left;
}
#left {
    width:200px;
    float:left;
    text-align: center;
}
#right {
    margin-top:142px;
    width:620px;
    float:left;
}
.date_blog {
    float:right;
    width: 50px;
    background: #B2DB3E;
    font-size: 11px;
    padding:5px;
    text-align: center;
    border:1px dashed #B2DB3E;
}
.date_blog span {
    font-size: 14px;
}