{% extends "default.html" %}
{% load newfilters %}


{% block title %} Blog {% endblock %}
{% block content %}
<div id="blog_content">

{% for b in blog %}
    <div class="desc">{{b.title}}</div>
    <br />
    <br />
    <div class="gbox">
     <div class="date_blog">{% autoescape off %}{{b.date|formatdate}}{% endautoescape %}</div>
    <div>{% autoescape off %}{{b.text}}{% endautoescape %}
    </div>
     </div>
<br class="clr" />
    
    <br />
    <hr />
    <br />
    <br />
{% endfor %}
</div>
<script>
    jQuery("#page_blog").addClass("mmactive");
</script>
{%endblock%}