{% extends "default.html" %}
{% load newfilters %}


{% block title %} Blog {% endblock %}
{% block content %}

<div class="desc">{% lang "guestbook" %}</div>


 <br />
 <a href="/writeguest">{% lang "writeyourrewiev" %}</a>
    <br />
<div class="gbox">
<div id="blog_content">
{% for b in guest %}
     <div class="date_blog">{% autoescape off %}{{b.date|formatdate}}{% endautoescape %}</div>
    <div>
        <b>{{b.froms}}</b><br />
        {{b.text}}
    </div>       
<br class="clr" />
    
    <br />
    <hr />
    <br />
    <br />
{% endfor %}
</div>
    </div>
    <script>
    jQuery("#page_guestbook").addClass("mmactive");
</script>
{%endblock%}