{% extends "default.html" %}
{% load newfilters %}

{% block content%}
<div class="gbox">
                    <h2>Latest Blog Posts</h2>
                    <div class="d">

                        {%for b in blog%}
                        <a href="/blog/{{b.rewrite}}">{{b.title}}</a>
                        {% endfor %}
                    </div>
                </div>
                 <div class="rbox">
                    <h2>Events</h2>
                    <div class="d">
                        {% for ev in events %}
                        <div class="events">
                            <img src="/evtimage/{{ev.id}}/thm" />
                            <h3>{{ev}}</h3>
                            <div class="f">
                            <div class="v">{{ev.event_date|gdate:"%d"}}</div>
                            <div class="z">{{ev.event_date|gdate:"%b"}}<br />{{ev.event_date|gdate:"%H:%M"}}</div><br class="clr" />
                            </div>
                            <div class="z2">@{{ev.event_venue}}</div>
                            <br class="clr" />
                        </div>
                        {% endfor %}
                        <div class="ed">
                           {% for ev in events %} <a href="javascript:;"><img border="0" src="{{ MEDIA_URL }}global/images/point1.png" /></a>
                           {% endfor %}
                        </div>
                    </div>
                </div>
{% endblock %}